@import "../../../../index.css";

.dataProperties li::before {
  content: "\25CF";
  display: table-cell;
  text-align: right;
  padding-right: 0.3em;
  margin-bottom: 3px;
  padding-left: 20px;
}

.dataProperties a {
  font-size: 13px;
  color: blue !important;
  cursor: pointer;
  margin-bottom: 20px !important;
  text-decoration: underline !important;
  text-decoration-style: dotted !important;
}

.dataProperties ol {
  padding-left: 15px;
}
.dataProperties .numberedList li::before {
  display: none;
}
